.DS_Store
.flv
*.flv
Capfile
log/*.log
tmp/**/*
doc/**/*
config/database.yml
config/mailer.yml
config/deploy.rb
db/*.sqlite3
public/system/**/*
public/guild_assets/videos/**/*
public/guild_assets/photos/**/*
public/system/**/*
public/javascripts/base_packaged.js
public/stylesheets/base_packaged.css