<%= render :partial => "/shared/guild_sidebar" %>

<div class="content">
	
	<div class="box">
		<div>
			<table class="forum">
				<thead>
					<tr>
						<th>Ostatnie tematy na forum</th>
						<th width="100px" class="text_center">Odpowiedzi</th>
						<th width="150px" class="text_center">Ostatni post</th>
					</tr>
				</thead>
				<tbody>
					<% if @topics.nil? || @topics.empty? %>
						<tr>
							<td class="info" colspan="3">Brak tematów na forum</td>
						</tr>
					<% else %>
						<%= render :partial => @topics %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="box">
		<div>
			<h2>Ostatnio dodane multimedia</h2>
		</div>
	</div>
	
	<div class="box">
		<div>
			<h2>Zbliżające się wydarzenia</h2>
		</div>
	</div>
	
</div>