<%= render :partial => "/shared/guild_sidebar" %>

<div class="content">
	
	<div class="box">
		<div>
			<h2>Ostatnie posty na forum</h2>
			<table class="forum">
				<thead>
					<tr>
						<th>Wątek</th>
						<th>Odpowiedzi</th>
						<th>Ostatni post</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">Zasady awansu / do korekty</a></td>
						<td>28</td>
						<td>
							2009-10-06, 22:44<br/>
							<a href="#">Rika</a>
						</td>
					</tr>
					<tr>
						<td><a href="#">Regulamin gildii / do korekty</a></td>
						<td>18</td>
						<td>
							2009-10-06, 22:44<br/>
							<a href="#">Rika</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="button white"><a href="/index.php">Idź na forum</a></div>
		</div>
	</div>
	
	<div class="box">
		<div>
			<h2>Ostatnio dodane multimedia</h2>
		</div>
	</div>
	
	<div class="box">
		<div>
			<h2>Zbliżające się wydarzenia</h2>
		</div>
	</div>
	
</div>