<div class="content right">
	<div class="box">
		<div>
			<fieldset>
				<legend>Edytuj film</legend>
			<% semantic_form_for([@guild, @movie]) do |f| %>
				<% f.inputs do %>
					<%= f.input :title %>
					<%= f.input :description %>
					
					<div class="text_right">
						<div class="button special">
							<%= f.submit 'Zapisz zmiany' %>
						</div>
						<div class="button white">
							<%= link_to 'Anuluj', guild_movie_path(@guild, @movie) %>
						</div>
					</div>
				<% end %>
			<% end %>
			</fieldset>
		</div>
	</div>
</div>
