<%= render :partial => "/shared/guild_sidebar" %>
<div class="content">
	<div class="box">
		<div>
			<script type="text/javascript" id="AdTaily_Widget" key="X4ycGaq8yMlXCo4" src="http://static.adtaily.com/widget.js"></script>
			<noscript>Reklamy na tej stronie sprzedawane są przez widget z AdTaily.com (PLBLOADTAILY0001)</noscript>
		</div>
	</div>
	<div class="box">
		<div>
			<% if @movies.nil? || @movies.empty? %>
				<p class="info">Brak filmów</p>
			<% else %>
				<ul class="movies reset">
					<%= render :partial => @movies %>
				</ul>
			<% end %>
			<% if permitted_to? :create, @guild.movies.new %>
			<div class="control">
				<div class="button special right">
					<%= link_to "Dodaj film", new_guild_movie_path(@guild) %>
				</div>
				<%= will_paginate @movies %>
				<div class="clear"></div>
			</div>
			<% end %>
		</div>
	</div>
</div>
