<%= render :partial => "/shared/guild_sidebar" %>
<div class="content">
	<div class="box">
		<div>
			<% if @movies.nil? || @movies.empty? %>
				<p class="info">Brak filmów</p>
			<% else %>
				<ul class="movies reset">
					<%= render :partial => @movies %>
				</ul>
			<% end %>
		</div>
		<% if permitted_to? :create, @guild.movies.new %>
		<div class="control">
			<div class="button special right">
				<%= link_to "Dodaj film", new_guild_movie_path(@guild) %>
			</div>
			<%= will_paginate @movies %>
			<div class="clear"></div>
		</div>
		<% end %>
	</div>
</div>
