/* Global */

body {
	margin: 0;
	padding: 0;
	font: 12px Arial;
	color: #393733;
	min-width: 800px;
	overflow: auto;
	background: #000001 url('/images/standard_background.jpg') no-repeat left top fixed;
}

h1, h2, h3, h4 { margin: 0 0 5px 0; }

a { color: #31627E; cursor: pointer; outline: none !important; text-decoration: none; }
a:visited { color: #105CB6; }
a:hover, a:focus { color: #FF5917; }
a:active { color: #000; }

/* Custom class */

.reset { clear: both; margin: 0; padding: 0; list-style: none; }
.text_center { text-align: center; }
.text_right { text-align: right; }
.clear { clear: both; }
.info { text-align: center; color: #ddd; font-size: 28px; font-weight: bold; }
.loader { background: transparent url('/images/ajax.gif') no-repeat center center; height: 20px; display: none; }
.right { float: right; }
.left { float: left; }

/* Flash */

.flash_notice {
	background: #A4E1A2 url('../images/icon-success.png') 20px center no-repeat;
	color: #094808;
	text-shadow: #C0FDE3 0px 1px 0px;
	border: 1px solid #DDE3D7;
}

.flash_error, .flash_notice {
	margin: 0 0 10px 0; 
	font-size: 18px;
	padding: 10px 60px;
	-webkit-border-radius: 5px;
	opacity: 0.9;
}

.flash_error {
	background: #AF2B2B url('../images/icon-error.png') 20px center no-repeat;
	color: #fff;
	border: 1px solid #DA3536;
	text-shadow: #000 0px 1px 0px;
}


/* Forms */

fieldset {
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 5px;
}

form { padding: 10px !important; }
fieldset form { padding: 0 !important; }

legend {
	font-weight: bold;
	padding: 0 15px 0px 0;
	margin-left: -22px;
	background: #fff;
	font-size: 16px;
	color: #333;
}

fieldset > h2, form h2, h3 {
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 2px solid #ddd;
}

/* TextFields */

input[type="text"], input[type="password"] {
	padding: 4px 3px;
	border: 1px solid #96A6C5;
	color: #000;
}

/* Buttons */

.button {
	background: #5B74A8 url('../images/button.png') repeat-x 0px -48px;
	border: 1px solid #fff;
	border-color: #26446E #152F5F #0C2253;
	display: inline-block;
	outline: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.117188) 0px 1px 0px;
}

.button > input[type="button"], .button > input[type="submit"], .button > a {
	border: none;
	line-height: 23px;
	height: 23px;
	padding: 0 10px;
	color: #fff;
	text-shadow: #3E5A88 0px 1px 0px;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;

	cursor: default;
	background: transparent;
}

.button:active {
	background-color: #516899;
	background-image: none;
}

.button img {
	margin-bottom: -4px;
	margin-right: 5px;
	width: 16px;
	height: 16px;
}

.button.special {
	background-color: #69A74E !important;
	background-position: 0px -96px !important;
	border-color: #386F24 #236013 #16540A !important;
	text-shadow: #4D8835 0px 1px 0px !important;
}

.button.special:active {
	background-color: #609946 !important;
	background-image: none;
}

.button.white {
	background-color: #DDD !important;
	border-color: #999 !important;
	background-position: 0px 0px !important;
}

.button.right { float: right; }
.button.white > a { color: #333 !important; text-shadow: none !important; }

/* TextFields */

input[type="text"], input[type="password"], textarea {
	padding: 4px 3px !important;
	border: 1px solid #96A6C5;
	color: #000;
}

textarea { height: 100px; min-height: 100px; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: #e6f7ff;
  border-bottom: 1px solid #7FAEFF; 
  border-right: 1px solid #7FAEFF; 
  border-left: 1px solid #4478A8;
  border-top: 1px solid #4478A8;
}


/* Top menu */

.top {
	margin: 0;
	background-color: #151515;
	height: 24px;
}

.top > ul { width: 800px; margin: 0 auto; }
.top > ul > li { float: left; border-right: 1px solid #444; overflow: hidden; }
.top > ul > li:first-child { border-left: 1px solid #444; }
.top > ul > .right { float: right; } 
.top > ul > li:last-child { float: right; border-left: 1px solid #444; }

.top > ul > li:hover { overflow: visible; }
.top > ul > li > ul { visibility: hidden; z-index: 10; position: absolute; }
.top > ul > li:hover > ul { visibility: visible; }

.top > ul > li > ul > li > a { background-color: rgba(21,21,21,0.9); width: 100px; }

.top > ul > li a { 
	color: #888;
	background-color: #151515;
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 2px 6px;
}

.top > ul > li a:hover {
	color: #C2C2C2;
	border-bottom: 2px solid #66F;
	padding-bottom: 0;
}

/* Wrapper */

.wrapper {
	width: 800px;
	margin: 10px auto;
}

.wrapper > .sidebar {
	float: left;
	width: 200px;
	margin-right: 10px;
}

.wrapper > .content {
	float: left;
	width: 590px;
}

.wrapper > .content.center { margin-left: auto; margin-right: auto; float: none; }
.wrapper > .content.right { margin-left: 210px; }

/* Sidebar */

.sidebar > div, .sidebar > img { margin-bottom: 10px; }
.sidebar dl { margin: 5px 0; }
.sidebar dt { font-size: 10px; margin: 2px 0; }
.sidebar dd { margin-left: 20px; }
.sidebar .button { width: 100%; text-align: center; }

.sidebar > .clan_logo, .sidebar > .avatar_logo {
	width: 200px;
	height: 160px;
	background: transparent url() no-repeat center center
}

.sidebar > .box {
	padding: 10px;
	-webkit-border-radius: 5px;
	background-color: rgba(0,0,0, 0.6);
	color: #EEE;
}

/* Tabs */

.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 22px;
}

.tabs > li > a {
	display: block;
	width: 50%;
	float: left;
	padding: 5px 0;
	background: rgba(99,99,99,0.5);
	color: #fff;
	text-align: center;
	font-size: 11px;
}

.tabs > li > a:hover { background: rgba(99,99,99,0.7); }
.tabs > li > .selected { background: rgba(99,99,99,0.9); }
.tabs.four_columns > li > a { width: 25%; }

.tabs > li:first-child > a {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
}

.tabs > li:last-child > a {
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}


/* content */

.content > .box {
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	background-color: rgba(255,255,255, 0.3);
	border: 1px solid rgba(255,255,255, 0.5);
	padding: 5px;
}

.content > .box > div {
	background: #fff;
	-webkit-border-radius: 4px;
	padding: 5px;
}

.content > .box > div > .control { margin-top: 5px; }

/* Forum */

.wrapper table { 
	border-collapse:collapse; 
	border: 1px solid #ccc;
	width: 100%;
}

td, th { 
	font-size:11px; 
	border-bottom:1px solid #eee; 
	padding:5px; 
	font-family:"Lucida Grande", Verdana, Arial, sans-serif; 
}

th { text-align:left; font-size:12px; }

thead th	{ font-weight:bold; color:#666; padding:2px 5px; font-size:11px; background:#e1e1e1 url(../images/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd; }
thead th:first-child { border-left:none !important; }
thead th.optional { font-weight:normal !important; }
tr.alt { background:#f6f6f6; }

/* Forum */

.forum .title {
	font-size: 16px;
	font-weight: bold;
}

.forum .desc p:last-child {
	margin-bottom: 0px;
}

/* posts */

table.posts { border: none; border-bottom:2px solid #eee; }
table.posts tr td { border:0; }
table.posts tr.spacer td { font-size:1px; }
table.posts tr.spacer:last-child { display: none; }
.post .author .edit a { font-size:0.7em; color:#666; }
.post .author img { float:left; margin-right:0.5em; }
.post .author {
	border-top:2px solid #eee;
	padding:5px 10px;
	background:#eee;
	font-weight:bold;
	color:#333;
	font-size:0.9em;
	min-height:32px;
	width: 140px;
	min-width:8em;
	vertical-align:top;
}

.post .author .posts,
.post .author .admin {
	display:block;
	font-size:0.75em;
	color:black;
	color:#666;
}
.post .author a { color:#333; text-decoration:none; }
.post .author a.threadauthor {
	color:#080;
}

.post .date {
	font-size:0.75em;
	color:#666;
	font-weight:normal;
	margin-bottom:0.5em;
}

.posts .post .body {
	border-top:2px solid #eee;
	font-size:0.9em;
	padding: 0px 20px;
	vertical-align: top;
}

.posts .post .body blockquote {
	border:1px solid #cda;
	border-left:3px solid #9a7;
	border-right:0;
	background:#efc;
	padding:1px 10px;
	margin-left:0;
}

.posts .post .body pre {
	font-size:0.8em;
	background:#eee;
	padding:5px 10px;
	border:1px solid #ccc;
	border-left:3px solid #ddd;
	border-right:0;
	overflow:auto;
	font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif;
}

.posts .post .body blockquote p { margin:0.5em 0;	 }

.post .body p.topic {
  font-size:0.8em;
  font-weight:bold;
  background:#eee;
  padding:2px 10px;
}

/* pagination */

.pagination {
  background: white;
/* self-clearing method: */ }
.pagination a, .pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
	margin-top: 2px;
}
.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD; }
.pagination span.current {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1; }
.pagination a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5; }
  .pagination a:hover, .pagination a:focus {
    color: #003;
    border-color: #003; }
.pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center; }
  .pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em; }
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .pagination {
  height: 1%; }
*:first-child+html .pagination {
  overflow: hidden; }

#moderatorzy { display:none; margin-top: 10px; }

/* List View */

.list_view {
	height: 300px;
	width: 200px;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #7FAEFF; 
	border-right: 1px solid #7FAEFF; 
	border-left: 1px solid #4478A8;
	border-top: 1px solid #4478A8;
	overflow-y: scroll;
	overflow-x: hidden;
}

.list_view > li {
	font-size: 12px;
	height: 16px;
	padding: 4px 5px;
	cursor: default;
}

.list_view > .ui-selected { color: #fff; background: #357CCB; }

.list_view_divider {
	width: 154px;
	height: 300px;
	padding: 0 5px;
	float: left;
	text-align: center;
}

.list_view_divider .button { width: 100px; margin-top: 5px; }

/* Player */

.player {
	display:block;
	width:480px;
	height:360px; 
	margin: 10px auto;
	background: #000 url() no-repeat;
	cursor: pointer;
	text-align: center;
}

.player > .play_button { margin-top: 140px; }

#movie_content { display: none; width: 480px; height: 384px; margin: 10px auto; }

/* movies */
.movies > li { min-height: 96px; margin-bottom: 5px; }
.movies > li:last-child { margin-bottom: 0; }

.movies > li > a {
	display: block;
	padding: 2px;
	border: 1px solid #999;
	width: 120px;
	height: 90px;
	position: absolute;
}

.movies > li > a > img { width: 120px; height: 90px; }

.movies > li > a > .time {
	cursor: pointer;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 2px;
	margin-top: -20px;
	text-align: right;
	white-space: nowrap;
}

.movies > li > a > .time > span {
	background: rgba(0,0,0, 0.8);
	-webkit-border-radius: 2px;
	color: #fff;
	font-size: 10px;
	padding: 1px 2px;
}

.movies > li > div {
	margin-left: 135px;
	min-height: 85px;
	padding: 5px 0;
}

.movies > li > div > h4 { font-size: 14px; }
.movies > li > div > p { font-size: 10px; margin: 5px 0 0 0; }
.movies > li > div > div { height: 50px; }

/* calendar */

.calendar th { text-align: center; }
.calendar td { height: 60px; width: 14%; vertical-align: top; border-left: 1px solid #eee; cursor: pointer; }
.calendar td:first-child { border-left: inherit; }
.calendar .notmonth { color: #ddd; }
.calendar .today { border: 2px solid #357CCB; }
.calendar td:hover { background: #F2F2F2; }