<div class="content center">
	<div class="box">
		<div class="text_center">
			<h1 style="color: red">Coś poszło nie tak... Aplikacja trafiła na nieobsługiwany wyjątek.</h1>
			<img src="/images/500.gif" />
			<p>
				Informacja o aktualnym błędzie została wysłana i zostanie rozpatrzona przez administrację
			</p>

		</div>
	</div>
</div>