<div class="content center">
	<div class="box">
		<div class="text_center">
			<h1 style="color: red">Nie znaleziono strony!</h1>
			<img src="/images/404.gif" width="345" height="139" />
			<p>Strona o podanym przez Ciebie adresie <b>nie istnieje</b>. Możliwe, że wprowadziłeś niepoprawny adres, bądź strona już zniknęła.</p>
		</div>
	</div>
</div>