<div class="content right">
	<div class="box">
		<div>
			<fieldset>
				<legend>Nowe zdjęcie</legend>
			<% semantic_form_for([@guild, @photo], :html => { :multipart => true }) do |f| %>
				<% f.inputs do %>
					<%= f.input :name %>
					<%= f.input :image, :hint => "Rozmiar max. 1 MB" %>
					
					<div class="text_right">
						<div class="button special">
							<%= f.submit 'Wyślij' %>
						</div>
						<div class="button white">
							<%= link_to 'Anuluj', guild_photos_path(@guild) %>
						</div>
					</div>
				<% end %>
			<% end %>
			</fieldset>
		</div>
	</div>
</div>
